.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

bin/
doc/

# nix development
flake.lock
flake.nix
.direnv/
.envrc
.npm-global/
